<div id="body">
  <h2> HelloWorld Dashboard</h2>
  <div class="container">
    @if (loaded){

    <div class="chart-wrapper">
      <ngx-charts-line-chart
        [view]="[900, 500]"
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [xAxisTickFormatting]="formatXAxisTick"
        [xAxisLabel]="'Time'"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Count'"
        [autoScale]="true"
      >
      </ngx-charts-line-chart>
    </div>
    }
  </div>
</div>
